/* PURAS FONTS*/

.estonia-regular {
  font-family: "Estonia", cursive;
  font-weight: 400;
  font-style: normal;
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dokdo-regular {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}

.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-uniquifier {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.libre-barcode-39-extended-text-regular {
  font-family: "Libre Barcode 39 Extended Text", system-ui;
  font-weight: 400;
  font-style: normal;
}

.libre-barcode-39-text-regular {
  font-family: "Libre Barcode 39 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}

.codystar-light {
  font-family: "Codystar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bitcount-prop-single-ink-uniquifier {
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.ballet-uniquifier {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.bitcount-single-ink {
  font-family: "Bitcount Single Ink";
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

/*---------------------------------------*/

* {
  box-sizing: border-box;
}

:root {

  --font-family: "forma-djr-display", sans-serif;
  --font-title: "Archivo Black", sans-serif;
  --accent-color: #ffffff;

  --background-color: rgb(255, 255, 255);
  --text-color: #ffffff;


  --boder-box: 2em;
}

html {

  font-size: 18px;
  text-decoration: none;
  scroll-behavior: smooth;


}

body {

  background-color: transparent;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1.0em;
  background: transparent;

  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}

/*---------------------------------------*/

body {
  max-width: 60ch;
  width: 100%;
  margin: 0 auto;

  padding: clamp(0.5em, 2vw, 0.5em);
  /* 👈 menos exagerado */

  min-height: 100vh;
}

/*---------------------------------------*/



.title {

  font-size: 6.5em;
  font-weight: normal;
  color: #57ff4b;
  text-align: center;
  font-family: "Bitcount Single Ink";
  padding: 0;
  transition: all 0.9s ease-in-out;
  /* animacion suave AYUDA */


  --x: 50%;
  --y: 50%;

  text-shadow:
    0 0 10px rgba(131, 228, 255, 0.99),
    0 0 50px rgb(255, 0, 0),
    0 0 90px rgb(255, 142, 231);

}

.title:hover {
  font-size: 5.6rem;
  text-align: center;
  font-weight: 520px;

  text-shadow: 0 0 15px rgb(255, 255, 237),
    0 0 30px rgb(255, 0, 0);
  /* brillo */
}

.title {
  color: #57ff4b;
  text-align: center;
  font-family: "Bitcount Prop Single Ink", system-ui;

  position: relative;

  text-shadow:
    0 0 10px #00f7ff,
    0 0 30px #ff00e0;

  animation: glitch 1s infinite;
}

.title::before,
.title::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.title::before {
  z-index: -1;
  animation: glitchTop 1s infinite;
}

.title::after {
  z-index: -2;
  animation: glitchBottom 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes glitchTop {
  0% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, -2px);
  }

  50% {
    clip-path: inset(0 0 60% 0);
    transform: translate(2px, 2px);
  }

  100% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-2px, -2px);
  }
}

@keyframes glitchBottom {
  0% {
    clip-path: inset(80% 0 0 0);
    transform: translate(2px, 2px);
  }

  50% {
    clip-path: inset(60% 0 0 0);
    transform: translate(-2px, -2px);
  }

  100% {
    clip-path: inset(80% 0 0 0);
    transform: translate(2px, 2px);
  }
}


/*---------------------------------------*/

header {
  width: 100%;
  display: flex;
  justify-content: center;
  /* centra horizontalmente */
  align-items: center;
  /* centra verticalmente */
  text-align: center;

  font-family: "Libre Barcode 39 Text", system-ui;
  font-size: 2em;
  padding: 1em;
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  flex-direction: column;
  /* apila elementos */
}


header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 0;
}

a {
  text-decoration: none;
}

/*--------------------------------------- NUEVO NAV */

nav ul {
  list-style: none;
  margin: 0.5em;
  padding-top: 2.4em;
  display: row;
  justify-content: center;
  /* CENTRA el menú */
  gap: 1em;

}

nav li {
  list-style: none;
}

.nav-link {
  display: inline-block;

  color: rgb(255, 255, 255, 60%);

  transition: all 0.3s ease-in-out;

  text-shadow:
    0 0 0.6em #ffc0e4,
    0 0 1.4em #ffa5d8;

}

.nav-link:hover {
  transform: scale(1.2);

  color: #57ff4b;


  --x: 50%;
  --y: 50%;

  text-shadow:
    0 0 1.3em rgba(131, 228, 255, 0.99),
    0 0 2.7em rgb(81, 0, 255),
    0 0 3em rgb(255, 142, 231);
}

/*---------------------------------------*/
/* icono para HOME */
nav li:first-child a::before {
  content: "✮⋆˙";
}

nav li:first-child a::after {
  content: "˙✮⋆⋆˙";
}

/* icono para CONTACTO */
nav li:nth-child(2) a::after {
  content: "˖☘︎";
}

/* fa-envelope */
/* icono para otro */
nav li:nth-child(3) a::before {
  content: "⚘⚘";
}

/* fa-envelope */
nav li:nth-child(3) a::after {
  content: "⚘⚘";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

/*---------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: var(--font-title);
  text-transform: none;

}

/*---------------------------------------*/

h1 {

  font-size: 2em;

}


h2 {
  font-size: 1.2em;
  text-align: center;
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 200;
  font-optical-sizing: auto;
  font-style: light;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 1;

  width: fit-content (-2em);

  letter-spacing: 0.05em;
  margin: 5em;

  /*
  margin: 3em auto;*/
  margin-top: 5em;
  margin-bottom: 1em;

  border-radius: 7em;
  padding: 0.3em 0.8em;

  /* “apagado” */
  background: rgba(255, 112, 200, 0.08);
  backdrop-filter: blur(0.6em);

  color: rgba(255, 255, 255, 0.5);

  opacity: 0.75;
  transform: scale(0.95);

  box-shadow:
    0 0 5px #ff70c84a,
    0 0 10px #ff70c83a;

  transition: all 0.7s ease-in-out;
}


h2:hover {
  opacity: 1;
  transform: scale(1.04);
  letter-spacing: 0.23em;


  background: rgba(255, 112, 200, 0.2);
  backdrop-filter: blur(6px);

  color: white;

  box-shadow:
    0 0 10px #ff70c8,
    0 0 30px #ff70c8;

}


h3 {

  font-size: 1em;
  font-family: "Coral Pixels", serif;
  color: #ffff00;


  background: rgba(51, 0, 255, 0.5);
  backdrop-filter: blur(0.2em);
  padding: 0.001em;
  border-radius: 20em;

  box-shadow:
    0 0 0.5em rgb(51, 0, 255),
    0 0 1em #4845ff,
    0 0 1.5em #ffffff;

  align-items: center;


}


h4 {

  align-items: center;

}

h5 {
  font-size: 1.5em;
  font-family: "Coral Pixels", serif;
  color: #57ff4b;
  font-weight: 400;

  margin: 1.5em auto;
  /* 👈 centra el bloque */
  padding: 1em;

  text-align: center;
  /* 👈 centra el texto */

  max-width: 40ch;
  /* 👈 controla el ancho */
  width: 100%;
}



h6 {

  font-family: "Bitcount Grid Single", system-ui;
  margin: 1.5em;
  font-size: 1.45em;
  color: #ff0000;
  font-weight: 200;

  /*
background:#4ed4f9 0.2;
background: radial-gradient(circle, #ffacdf
 0%,    #4ed4f9 90%);
*/

  background: rgb(255, 255, 255, 50%);
  backdrop-filter: blur(1em);
  padding: 1em;
  border-radius: 5em;

  box-shadow:
    0 0 0.5em #ffffff7e,
    0 0 1em #ffdbf0;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(0.1em);


}

/*--------------------*/
.contactoo p {

  border-radius: 5em;
  width: fit-content;
  margin: 1.5em auto;

}

.contactoo p:hover {

  background: #fbff0000;


}

/*-------------- CONTACTOO  -------------------------*/
.contactoo a {

  display: inline-block;

  transition: all 0.5s ease-in-out;
}

.contactoo a:hover {

  transform: scale(1.2);

  text-shadow:
    0 0 0.5em rgba(255, 255, 255),
    0 0 1em #83ff7a,
    0 0 2em #11ff00,
    0 0 3em #11ff00,
    0 0 4em #11ff00,
    0 0 5em #11ff00,

    0 0 6em #11ff00;


}


/* BARRAS QUE SE MUEVEN----------------- */

.marquee {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
}

.marquee-top {

  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 3;

}

.marquee-track {
  position: fixed;
  bottom: 0;
  color: #00f7ff;
  display: flex;
  width: max-content;
  gap: 0;

  animation: scroll 18s linear infinite;
}

.marquee-group {
  display: flex;
}

.marquee-group span {
  font-size: 2rem;
  white-space: nowrap;
  padding: 0;

  color: #fca2ea;

  text-shadow:
    0 0 5px #ff54b5,
    0 0 10px #ff54b5,
    0 0 20px#ff0d96,
    0 0 40px #f5caf5;
}

.marquee-groupp span {
  font-size: 2rem;
  white-space: nowrap;
  padding: 0;

  color: #00f7ff;

  text-shadow:
    0 0 5px #54c3ff,
    0 0 10px #5487ff,
    0 0 20px#0dcbff,
    0 0 40px #6abcff;
}


.marquee-top {

  color: #00f7ff;

  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  gap: 0;
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;

}

@keyframes scroll {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

}



/*---------------------------------------*/



.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* lo manda atrás */

  filter: brightness(0.4) contrast(1.2);
}

/*---------------------------------------

#contacto {
  scroll-margin-top: 120px;
}*/
.hidden-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  opacity: 0;              /* 👈 invisible */
  pointer-events: none;    /* 👈 NO bloquea clicks */
  transition: 0.3s ease;
}

.hidden-box.active {
  opacity: 1;
  pointer-events: auto;    /* 👈 ahora sí interactúa */
}
main, section {
  background: transparent;
}

main {
  max-width: 60ch;
  margin: 0 auto;
  padding: clamp(0.5em, 2vw, 0.5em);
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

main, header {
  position: relative;
  z-index: 2;
}